.profile-wrapper {
  text-align: left;
}
.profile-title {
  color: rgba(44, 62, 80,1.0);
  font-weight: bolder;
}

.profile-info {
  /*background-color: red;*/
  margin-top: 30px;
  margin-left: 2em;
}

.profile-info span {
  font-weight: bolder;
  color: rgba(22, 160, 133,1.0);
}

.profile-info p {
  margin-bottom: 15px;
  /*background-color: red;*/
  padding: 8px 10px;
  border-bottom: 1px solid rgba(44, 62, 80,.1);
  transition: all ease .25s;
}

.profile-info p:hover {
  background-color: rgba(149, 165, 166,.1);
}

/* new */
.phuong-profile-wrapper {
  text-align: left;
  background-color: #F3F3EF;
  padding: 0 200px;
}

.phuong-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
}

.phuong-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.phuong-card img {
  width: 100%;
}

.container {
    padding: 2px 16px;
}
