* {
  transition: all ease .25s;
}
.approve {
  color: #2ecc71;
  font-weight: bolder;
}

.approve:hover {
  color: #595d64;
}

.reject {
  color: #e74c3c;
  font-weight: bolder;
}

.reject:hover {
  color: #595d64;
}
